header{
    color: rgb(16, 80, 80);
    font-size: medium;
}

a:active, a:visited{
    color: rgb(16, 80, 80);
}

button {
    background-color: rgb(16, 80, 80);
    color: white;
    padding: 15px;
    width: 200px;
    height: 50px;
    float: left;
    margin: 20px;
}
