header{
    color: rgb(16, 80, 80);
    font-size: medium;
}

a:active, a:visited{
    color: rgb(16, 80, 80);
}

button {
    background-color: rgb(16, 80, 80);
    color: white;
    padding: 15px;
    width: 200px;
    float: left;
    margin: 10px;
}

#scoreHead, #buttonOne, #buttonTwo, #buttonThree, #buttonFour{
    display:none;
}

#leaderboard, #retake {
    display: none;
}

